table{
    border:1;
    margin-top: 10px;
    width: 100%;
   }
   th{
    /* font-size:14px;
    font-weight:bold;
    background-color: #270433;
    color:white;
    width:60px !important; */
    font-size: 14px;
    font-weight: bold;
    background-color: #101010;
    color: #5d5b5b;
    width: 60px !important;
    
}
.scroll-container{
    overflow-y: scroll;
    max-height: 75vh;
}
tr{
    width:90%;
    background: #f2f2f2;
    padding: 10px;
}
td{
    font-size:12px;
    color: white;
    background: #212529;
} 
th.mat-sort-header-sorted {
    color: black;
}
.search-title{
    color: white;
}
.user-tab{
    /* float: right; */
    border: 1px solid #eeb541;
    padding: 7px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 13px;
    text-shadow: none;
    cursor: pointer;
    margin-top: 5px;
    background: #101010;
    color: white;
  }
  .delete-icon{
  margin: 5px;
  color:red;
  border: 1px solid red;
  padding: 7px;
  font-size: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
  }
  .delete-icon:hover {
    transform: scale(1.25);
}
  .main-link{
    padding-top: 10px;
    padding-bottom: 10px;
    /* text-shadow: 1px 1px 3px grey; */
    font-weight:bold;
    margin-right: 5%;
    color: #eeb541;
  }
  #breadcrumbIcon{
    height:15px;
    margin-top: -5px;
    margin-right: 5px;
    margin-left: 5px;
  }
.button-align{
    background-color:#759b04;
    cursor: pointer;
    float: right;
    font-size: 14px;
    color: white;
    width: 80px;
    border-radius: 5px;
    bottom:0;
  }
  ::-webkit-scrollbar{
    width:4px;
}
.main-title{
    color: #c7f954;
}

::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    background-color:#eeb541;
    outline: 1px solid #eeb541;
  }

.close{
    margin-top: -1em;
}
mat-form-field{
    display: block;
    width:20%;
}
.mat-button{
  
   background-color:#759b04;
   color: white;
   border:1px solid grey;

}
.links{
    display: inline-block;
}
.matStepperPrevious{
    margin-left: 62em;
}
.delete{
    font-size: 20px;
    cursor: pointer;
    color: #e74c3c;
    margin-left: 13px;
}
.more_vert{
    font-size: 20px;
    cursor: pointer;
}
.edit{
    font-size: 20px;
    cursor: pointer;
    color: #10bfec;
}
.modal-body{
    color:black;
}
.modal-title{
    color:black;
}
.refresh{
    margin: 5px;
    color: white;
    border: 1px solid #eeb541;
    padding: 7px;
    font-size: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
    background: #101010;
  }
 /* error block */
 p.errContainer{
    color: #db2473;
  }
  .spinnerDiv {
    width: 120px;
    height: 120px;
    z-index: 99999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }