<div class="row">
  <div class="col-1-5">
  <!-- <li> 
      <a routerLink="/admin/overview" routerLinkActive="active" class="nav-link"><i class="fa fa-eye" aria-hidden="true"></i></a>
  </li> -->
  <!-- <li>    
       <a routerLink="/admin/account" routerLinkActive="active" class="nav-link"><img src="../../../assets/image/businessman.svg"></a>
  </li> -->
  <!-- <li>  
      <a routerLink="/admin/sites" routerLinkActive="active" class="nav-link"><img src="../../../assets/image/hierarchy.svg"></a>
  </li>
  <li></li> -->
</div>
<div class="col-11 admin-container">
<router-outlet></router-outlet>
</div>
</div>