
 <div class="TabHeader">
    <div class="headerSpace">
      Alerts
    </div>
    <div class="optionSpace">
    <!-- <img src = "../../../../assets/icon/magnifier.svg" id="optionIcon">
    <img src = "../../../../assets/icon/filter-results-button.svg" id="optionIcon"> -->
    <span id="refresh" data-toggle="tooltip" data-placement="bottom" title="Reload Alerts"> <img src = "../../../../assets/icon/refresh_yellow.svg" id="optionIcon" (click)="reload()"> </span>
    </div>
  </div>
<div class="TabContent">
        <div class="leftTabSection">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <!-- <th scope="col" id="viewDashboard"  ></th> -->
                    <th scope="col">Location</th>
                    <th scope="col"> <img id="historyIcons" src = "../../../../assets/icon/sign-in.svg">Entry</th>
                    <th scope="col"> <img id="historyIcons" src = "../../../../assets/icon/sign_Out.svg">Exit</th>
                    <th scope="col">Duration</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor=" let asset of assetAlertHistory">
                        <!-- <th scope="row" id="viewDashboard">
                          <img id="eyeIcon" src="../../../../assets/icon/visible-opened-eye-interface-option (1).svg" routerLink="/dashboard/specific-asset" >
                        </th> -->
                        <td> {{asset.FacilityName}} , {{asset.ZoneName}}</td>
                        <td> {{asset.EntryTime | date: 'short'}}</td>
                        <td> {{asset.ExitTime | date: 'short'}}</td>
                        <td> 
                            <span *ngIf = "!asset.Duration">- - - -</span>
                            <span *ngIf="asset.Duration">
                                    <span *ngIf="asset.Duration_months != 0">{{asset.Duration_months | number :'1.0-0'}}M </span>
                                     <span *ngIf="asset.Duration_days != 0">{{asset.Duration_days | number :'1.0-0'}}D </span> 
                                     <span *ngIf="asset.Duration_hours != 0">{{asset.Duration_hours | number :'1.0-0'}}H </span> 
                                     <span *ngIf="asset.Duration_minutes != 0"> {{asset.Duration_minutes | number :'1.0-0'}}m</span>
                                     <span *ngIf="asset.Duration_seconds != 0"> {{asset.Duration_seconds | number :'1.0-0'}}s</span>
                            </span> 
                        </td>
                 </tr>
                </tbody>
              </table>

              <div *ngIf="showNoAlert" class="NoAlerts">
                No Indoor Alerts 
              </div>
        </div>
        <div class="rightTabSection" style="display:none">
      <div class="chartHeader" > Alert Occurences</div>
      <div class="chartHolder">

            <div id="barchart"></div> <!-- JUHI' CODE ADDED HEre-->
      </div>
        </div>
      </div>






