.mainContent{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 93vh;
    padding: 10px;
    /* margin-right:-25px; */
    overflow-x: hidden;
    padding-top: 20px;
}

.dashboardPeopleSpecific{
    display: grid;
    height: 93vh;
    grid-template-columns: 15% 32% 53%;
    grid-column-gap: 10px;
    background: #1a1a1a;
}

.summaryTabSection{
    display: grid;
    grid-template-rows: 16% 16% 15% 15% 15% 15%;
    grid-row-gap: 10px;

}
.personDetailsSection,.graphSection,.locationSection,.assetSection{
    background: #272727;
}
.pictorialSection{
    display: grid;
    grid-template-rows: 40% 58%;
    grid-row-gap: 10px;
}
.name{
    font-size: 12px;
    color: #c7f954;

}
.role{
    font-size: 12px;
    color: white;

}
.canvas-style{
    margin-top: 10px;
    padding-left: 3px;
    width: 397px;
}
.attendenceHeading{
    font-size: 15px;
    color: white;
    margin: 5px 12px;

}
.person{
    text-align: left;
    vertical-align: center;
    margin-top: 7%;
}

.tab-pane{
    /* background:white; */
    /* height:32vh; */
    /* padding:10px */
}
.indoorLocation{
    font-size: 15px;
    color: white;
}
.toz{
    color: #101010;
    font-size: 12px;
    /* background: #c7f954; */
    width: 95%;
    height: 4vh;
    text-align: center;
    margin-left: 4px;
}
.toz-green{
    background: #c7f954;
}
.toz-red{
    background: #e74c3c;
}
.toz-grey{
    background: #646464;
}
.zoneLocation{
    text-align: center;
    background: white;
    font-size: 12px;
    font-weight: bold;
    width: 12vw;
    height: 5vh;
    padding-top: 2px;
    margin-left: 6px;
}
.personDetailsSection{
    display: grid;
    grid-template-rows: 30% 50%;
    grid-row-gap: 2px;
    padding: 6px;
}
.personDetails{
    display: grid;
    text-align: center;
    grid-template-columns: 50% 46%;
    grid-column-gap: 0px;
}
.indoorLocationSection{
    background: #272727;
    display: grid;
    grid-template-rows: 31% 23% 20%;
    grid-row-gap: 5px;
    padding: 5px;
}
#personImage{
    height: 48px;
    background: white;
    margin-top: 6%;
}
#personImage1{
    height: 48px;
    background: transparent;
}
.personName{
    font-size: 15px;
    color: white;
}
.holdingNo{
    font-size: 20px;
    color:#c7f954;
}
.holdingNo1{
    font-size: 12px;
    color:#c7f954;
}
.assetDues{
    color: #e74c3c;
    font-size: 20px;
}
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    padding: 4px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top:-5px
}
a{
    color: white;
    font-size: 12px;
    text-decoration: none;
    background-color: #101010;
}
#mapContainer{
    height: 50vh;
    width: 28vw;
    margin-left: 7px;
    margin-top: -4.5%;
}
.image{
    width: 100%;
    height: 100%;
    position: absolute;
}
.Attendancecaption{
    font-size: 10px;
    color: grey;
    margin-left: 2%;
}
.zone-name{
    color:white;
    border-bottom: 1px solid white;
}
.zone .tooltiptext {
  visibility: visible;
  background-color: black;
  color: #fff;
  border-radius: 3px;
  padding: 5px 0;
  width: max-content; 
  min-width: 130px;
  bottom: 100%;
  left: 50%; 
  margin-left: -65px;
  font-size: 12px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
.zone {
    position: absolute;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  .gpsOffline{
    font-weight: bold;
    color: red;
    background: #ffffb3;
    padding: 10px;
    text-align: center;
    border-radius: 55px;
}
.black{
    background: #101010;
    /* margin-top: -5px; */
}
.tooltiptext {
    color: black;
    border-radius: 3px;
    padding: 5px 0;
    font-size: 12px;
    z-index: 1;
  }
  .image-container{
    position: relative;
    padding-left: 0px;
    border: 1px dashed black;
    height: 35vh;
    width: 100%;
}
.green-circle{
    stroke: #000;
    stroke-miterlimit: 10;
    fill: #20bc04;
    animation: blinker 1s linear infinite;
  }
  .red-circle{
    stroke: #000;
    stroke-miterlimit: 10;
    fill: red;
    animation: blinker 1s linear infinite;
  }
  .grey-circle{
      stroke: #000;
      stroke-miterlimit: 10;
      fill: #646464;
  }
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  .image{
    width:100%;
    height: 100%;
    position: relative;
}
.image-container{
    padding-left: 0px;
    border: 1px dashed black;
    width: 100%;
    height: 200%;
}
.scaling-svg-container {
    position: relative; 
    height: 100%;
    width: 100%; 
    padding: 0;
    overflow-y: scroll;
    overflow-x: scroll;
    /* override this inline for aspect ratio other than square */
   }

   .colm{
    padding:4px;
}
.subscript{
    color:grey;
}
.count{
    margin: 10px;
    color: #e74c3c;

}
.utilization-content{
    overflow-y: scroll;
    overflow-x: hidden;
    /* height: 70vh; */
    /* background-image: linear-gradient(#000000,#0E0E0F, #171619,#1a191d,#1E1D22); */
}
.card-content{
    position: relative;
    max-height: 20%;
    min-height: 125px;
    max-width: 22%;
    display: flex;
    /* border: 1px solid #d0d0d0; */
    padding: 10px;
    font-size: 14px;
    font-weight: 200;
    margin: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    display: inline-block;
    font-family: "Roboto";
    background: #1a1a1a
}
::-webkit-scrollbar{
    width:4px;
}
.green{
    color:  #c7f954;;
}
.white{
   color: #646464;
}

.title{
    /* color: black; */
    color: white;
    font-weight:200
}
::-webkit-scrollbar-track{
    border-radius: 10px;
    background: white;
    /* border: 1px solid rgb(63, 60, 60); */
}

.nav-link{
    padding: 0px 5px !important;
}
#categoryIcon{
    
    transition: all .2s ease-in-out
}


#categoryIcon:hover {
    transform: scale(3)
}
#categoryIcon{
    height:45px;
    margin-left:-5px
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #eeb541;
    outline: 1px solid #eeb541;
  }

  ::-webkit-scrollbar-thumb:hover{
    background: #cc9900;
  }

  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #101010;
    background-color: #eeb53f;
    /* border-color: #dee2e6 #dee2e6 #fff; */
    padding: 3px 10px;
    font-weight: bolder;
    font-size: 12px;
}

.nav-tabs {
    border-bottom: none !important; 
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin-top: 6px;
}


/* CODE ADDED BY ABHISHEK */

.TypeIconSection{
    /* background: #cc9900; */
    height:60px;
    width:60px;
    position:relative;
    margin:5px auto
}

#typeIcon{
    height:45px;
    margin-left:5px
}
/* ABHISHEK's CODE ENDS */
@media screen and (min-width:1440px){

    .card-content {
        max-width: 18%;
    }
}