<div class="d-flex">
  <div class="mr-auto p-2 main-link">Administration <img src="../../../assets/icon/fast-forward-double-right-arrows.svg"
    id="breadcrumbIcon"> Manage Gateway</div>
    <mat-form-field class="search-title" *ngIf="!busy">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>
    <div class="p-2" *ngIf="!busy">
        <!-- <span><i class="material-icons user-tab filter-icon" (click)= "showFilter = !showFilter">search</i>
        </span> -->
        <span class="user-tab"  [routerLink]="['../createGateway']">+Gateway</span>
      <!--<i class="material-icons delete-icon" (click)="deleteTagList()">delete</i>-->
      <i class="material-icons refresh"  (click)="RefreshPlan()">refresh</i>
  </div>
</div>
<p class="errContainer" *ngIf="err">
  {{errMsg}}
</p>
<!-- // mat table --> 
<div class="mat-elevation-z8" *ngIf="!err && !busy">
  <div class="scroll-container">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- Serial No Column -->
    <ng-container matColumnDef="serialNo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Serial No </th>
      <td mat-cell *matCellDef="let element" class="main-title"> {{element.GATEWAYSERIALNO}} </td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let element"> {{element.GATEWAYTYPE}} </td>
    </ng-container>

    <!-- State Column -->
    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef> State </th>
      <td mat-cell *matCellDef="let element" > {{element.GATEWAYSTATE}} </td>
    </ng-container>

    <ng-container matColumnDef="make">
      <th mat-header-cell *matHeaderCellDef> Make </th>
      <td mat-cell *matCellDef="let element"> {{element.MAKE}} </td>
    </ng-container>

    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef> Model </th>
      <td mat-cell *matCellDef="let element"> {{element.MODEL}} </td>
    </ng-container>

    <!-- <ng-container matColumnDef="asset">
      <th mat-header-cell *matHeaderCellDef> Asset </th>
      <td mat-cell *matCellDef="let element"> {{element.assetId}} </td>
    </ng-container> -->

    

    <ng-container matColumnDef="more">
      <th mat-header-cell *matHeaderCellDef> More </th>
      <td mat-cell *matCellDef="let element"> <span>
        <i  class="material-icons edit" (click)="onEdit(element)">edit</i>
      <i class="material-icons delete" data-toggle="modal" data-target="#deleteModal" (click)="setGateway(element)">delete</i>
 <!--<i class="material-icons more_vert">more_vert</i>-->
    </span></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
  </table>
</div>
  <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLabel">Delete Gateway {{selectedGateway.GATEWAYSERIALNO}}?</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" #closedelModal>No</button>
        <button type="button" class="btn btn-primary" (click)="deleteGateway()" data-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="toggleView" id="myModal" class="modal row justify-content-center">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header"> 
        <button type="button" (click)="toggleView=!toggleView"class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <div class="card">
      <div class="card-body-modal">
        
        <mat-vertical-stepper  [linear]="isLinear" #stepper>
          <mat-step  class="width"[stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
              <ng-template matStepLabel></ng-template>
              <mat-form-field>
                <input matInput placeholder="Name" formControlName="name" required>
              </mat-form-field>
              <mat-form-field>
                 <input matInput placeholder="Role" formControlName="role" required>
              </mat-form-field>
              <div style="float:right;">
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
              <ng-template matStepLabel></ng-template>
               <mat-form-field>
                <input matInput placeholder="Email" formControlName="email" required>
              </mat-form-field>
               <mat-form-field>
                <input matInput placeholder="Account" formControlName="account" required>
              </mat-form-field>
              <div class="links">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
           <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
              <ng-template matStepLabel></ng-template>
              <mat-form-field>
                <input matInput placeholder="Site" formControlName="site" required>
              </mat-form-field>
               <mat-form-field>
                <input matInput placeholder="Group" formControlName="group" required>
              </mat-form-field>
              <div class="links">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel></ng-template>
            You are now done.
            <div class="links">
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)="SaveUser()">Save</button>
            </div>
          </mat-step>
        </mat-vertical-stepper >
      </div>
    </div>
    <!--<div class="modal-footer-button">
      <button class="button-align" (click)="SaveUser()">Save</button>
      <button class="button-align" (click)="AbortOperation()"> Cancel</button>
    </div>-->
  </div>
</div>
<!-- <mat-spinner></mat-spinner> -->
<div *ngIf="busy" class="spinnerDiv">
  <p-progressSpinner></p-progressSpinner>
</div>