
 <div class="TabHeader">
        <div class="headerSpace">
          User Notes
        </div>
        <div class="optionSpace">
        <img src = "../../../../assets/icon/magnifier.svg" id="optionIcon">
        <img src = "../../../../assets/icon/filter-results-button.svg" id="optionIcon">
    
        </div>
      </div>

<div class="TabContent">

  <div class="TableHolder">
      <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Timestamp</th>
              <th scope="col">Username</th>
              <th scope="col">Comments</th>
                      </tr>
          </thead>
          <tbody>
              <tr>
                  <td>12/02/2019 10:20 PM</td>
                  <td> ABCDEFGHIJKLMNO</td>
                  <td> Comment</td>
           </tr>
  <!-- Duplicating Rows -->
  <tr>
      <td>12/02/2019 10:20 PM</td>
      <td> ABCDEFGHIJKLMNO</td>
      <td> Comment</td>
</tr>
<tr>
    <td>12/02/2019 10:20 PM</td>
    <td> ABCDEFGHIJKLMNO</td>
    <td> Comment</td>
</tr>
<tr>
    <td>12/02/2019 10:20 PM</td>
    <td> ABCDEFGHIJKLMNO</td>
    <td> Comment</td>
</tr>
<tr>
    <td>12/02/2019 10:20 PM</td>
    <td> ABCDEFGHIJKLMNO</td>
    <td> Comment</td>
</tr>
<tr>
    <td>12/02/2019 10:20 PM</td>
    <td> ABCDEFGHIJKLMNO</td>
    <td> Comment</td>
</tr>
<tr>
    <td>12/02/2019 10:20 PM</td>
    <td> ABCDEFGHIJKLMNO</td>
    <td> Comment</td>
</tr>
<tr>
    <td>12/02/2019 10:20 PM</td>
    <td> ABCDEFGHIJKLMNO</td>
    <td> Comment</td>
</tr>
<tr>
    <td>12/02/2019 10:20 PM</td>
    <td> ABCDEFGHIJKLMNO</td>
    <td> Comment</td>
</tr>
<tr>
    <td>12/02/2019 10:20 PM</td>
    <td> ABCDEFGHIJKLMNO</td>
    <td> Comment</td>
</tr>
<tr>
    <td>12/02/2019 10:20 PM</td>
    <td> ABCDEFGHIJKLMNO</td>
    <td> Comment</td>
</tr>
<tr>
    <td>12/02/2019 10:20 PM</td>
    <td> ABCDEFGHIJKLMNO</td>
    <td> Comment</td>
</tr>
  <!-- Duplication Ends -->
          </tbody>
        </table>
  </div>
</div>
