
    <nav>
        <div class="nav nav-tabs heading-set" id="nav-tab" role="tablist">
             <a class="nav-item nav-link active first-nav" id="nav-people-tab" data-toggle="tab" href="#nav-people" role="tab" aria-controls="nav-people" aria-selected="true">Workers</a>

             <a class="nav-item nav-link " id="nav-materials-tab" data-toggle="tab" href="#nav-materials" role="tab" aria-controls="nav-materials" aria-selected="true">Assets</a>


        </div>
    </nav>
    <div class="tab-content pl-3 pt-2" id="nav-tabContent">
        <div class="tab-pane fade " id="nav-materials" role="tabpanel" aria-labelledby="nav-materials-tab">
          <app-dashboard-assets></app-dashboard-assets>
        </div>

        <div class="tab-pane fade show active" id="nav-people" role="tabpanel" aria-labelledby="nav-people-tab">
          <app-dashboard-people-status></app-dashboard-people-status>

       </div>


</div>
