<div class="main-container">

    <div class="tabContent">
      <div class="RefreshContainer">
        <span id="refresh" data-toggle="tooltip" data-placement="bottom" title="Reload"> <img
            src="../../../../assets/icon/refresh_yellow.svg" id="optionIcon" (click)="reload()"> </span>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col" id="viewDashboard"></th>
            <th scope="col">Asset Name</th>
            <th scope="col">Tag</th>
            <th scope="col">Location</th>
            <th scope="col">Recieved On</th>
            <th scope="col">Due Date</th>
            <th scope="col">Due Status</th>
  
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let asset of assetList'>
            <th scope="row" id="viewDashboard">
              <span><img (click)="setAssetName(asset.AssetID,asset.AssetName)" id="eyeIcon"
                  src="../../../../assets/image/special-icon.svg"></span>
            </th>
            <td>
              <div>
                <div class="td-header">
                  {{asset.AssetName}}
                </div>
              </div>
            </td>
    

      <!-- Worker Tag -->
              <td>
                  <div>
                    <div class="">
                      {{asset.AssetTag}}
                    </div>
                  </div>
                </td>
  
            <!-- nIF -->

        <td>
              <div class="locationCol">
                <div class="icon"><img id="pin" src="../../../../assets/icon/Green-pin.svg"> </div>
                <div *ngIf="asset.AssetLocation != null " class="locaionValue" data-toggle="tooltip"
                  data-placement="bottom" [title]="asset.AssetLocation">
                  {{(asset.Location.length>13)?(asset.Location| slice:0:13)+ ' ...' : (asset.Location)}}
                </div>
                <div *ngIf="asset.Location == null " class="locaionValue"> -- </div>
              </div>
            </td>
            <!--  -->
            <td id="time">{{asset.RecievedDate | date:'medium'}}</td>
            <td id="time">{{asset.DueDate | date:'medium'}}</td>
           
           <td>
              <span><img id="eyeIcon"
                src="../../../../assets/image/duration-green.svg"></span>
           </td>
  
            <!-- DUPLICATING FOR TEMPERATURE AND HUMIDITY -->
  
           
            <!-- <td> {{asset.User}} </td> -->
            <!--  -->
          </tr>
  
          <!-- Duplicating Rows -->
  
  
          <!-- Duplication  Ends-->
        </tbody>
      </table>
    </div>
  </div>
  
  <!-- <app-dashboard-assets-heatmap></app-dashboard-assets-heatmap> -->