*{
  font-family:Roboto
}
.modal-dialog {
  -webkit-transform: translate(0,-50%);
  -o-transform: translate(0,-50%);
  transform: translate(0,-50%);
  top: 20%;
  margin: 0 auto;
}
.modal-header{
  background-color:rgb(164, 197, 235);
}
.modal-content {
  overflow:hidden;
}
#Icons{
  height:18px
}

#Icons:hover{
  cursor: pointer;
}
.main-background{
    /* background-image: linear-gradient(#000000,#0E0E0F, #171619,#1a191d,#1E1D22); */
    background: #101010;
}
.iconSection{
  color: grey;
}
.main-link{
  padding-top: 10px;
  padding-bottom: 10px;
  /* text-shadow: 0px 0px 3px grey; */
  font-weight:bold;
  margin-right: 5%;
  color: #eeb541;
  /* font-size: 18px; */
}
.list-panel{
    height: 80vh;
    overflow-y: scroll;
}
.main-container{
    margin-left: 50px;
    padding-right: 0px;
    font-family:-apple-system, Roboto, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card{
    /* width:32%; */
    max-width: 23%;
    /* min-width: 23%; */
    min-width: 290px;
    margin: 10px;
    display: inline-block;
    /* box-shadow: 5px 4px 7px 2px #dadada; */
    /* box-shadow: 1px 3px 7px 0px #807878; */
    border: 1px solid #101010;
  }
.card-detail{
  word-wrap: break-word;
  max-width: 100%;
}
/* Track */
.list-panel::-webkit-scrollbar-track {
    background: whitesmoke;
  }
  .detail-panel::-webkit-scrollbar-track {
    background: whitesmoke;
  }
  ::-webkit-scrollbar{
    width:3px;
}

::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  background-color: #eeb541;
  outline: 1px solid #eeb541;
  }

  ::-webkit-scrollbar-thumb:hover{
    background: #cc9900;
  }
/* @media (min-width: 1200px){
.main-container {
    max-width: 1200px;
}
} */
.highlight{
   box-shadow: 0px 0px 5px 2px rgb(3, 109, 136) !important;
}
.undefined{
  box-shadow: none;
}
.container ul{
  list-style-type: none;
  margin: 0;
  margin-left: 25px;
  padding: 0;
  position: relative;
}
.container ul li{
  margin:20px 20px;
  position: relative;
}
.container ul::before{
  position: absolute;
  top:4px;
  left:0;
  content: '';
  border:1px dotted grey;
  height: 100%;
}
.container ul li span{
  position: absolute;
  top:0;
  left:-20px;
  content: '';
  height: 100%;
  /* border: 1px dotted #50b7b4; */
}
.container ul li span::before {
  width: 10px;
  height: 10px;
  border:2px solid grey;
  border-radius: 50%;
  position: absolute;
  content: '';
  left:-5px;
  background-color: #46b3b0;
  top:4px;
}

.container ul li span::after{
  top:100%;
}
.left{
  left: -40px;
  font-size: 20px;
  margin: 0px;
  position: absolute;
  top: 0px;
}
.fa{
  cursor: pointer;
  font-size: 20px;
  color:#46b3b0;
}
input{
  border: none
}
.tags{
  padding: 5px;
  font-size: 13px;
  max-width: 100%;
  margin: 4px;
}
.clr{
  color:#46b3b0;
}
::placeholder {
  color: #46b3b0;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #46b3b0;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #46b3b0;
}
.block-list{
  border:1px solid #bcbcbc;
  margin-left: 25px;
  min-height: 50px;
}
.tags-label{
border-bottom: #46b3b0;
font-size: 13px;
margin-bottom: 0px;
margin-top: 4px;
}
.fa-bluetooth{
  color: black;
}
.underline{
  border-bottom: 1px solid #bcbcbc;
}
.material-icons{
  font-size: 18px;
  padding: 5px;
 cursor: pointer;
}
.green{
  color:green
}
.red{
  color: red;
}
.zone-list{
  margin-top: 5px;
  margin-bottom: 3px;
  margin-left: -10px;
  margin-right: -10px;
}
.active{
  background-color: #dbece0;
}
.inactive{
  background-color: #dadada;
}
.content{
  font-size: 12px;
  min-width: 67%;
  padding-top: 6px;
  padding-left: 4px;
  word-wrap: break-word;

}
.container{
  padding-right: 4px;
}
.icons{
  font-size: 12px;
  padding-right: 0px;
  padding-left: 2px;
  padding-top: 10px;
}
.icons-big{
  padding-right: 0px;
  padding-left: 2px;
  padding-top: 10px;
  height: 30px;
}
.card-icon{
padding: 0px;
line-height: 2.5rem;
cursor: pointer;
height: 18px;
margin-left: -4px;
}
.subscript{
  font-size: 10px;
  max-width: 100%;
  word-wrap: break-word;
  color: black;
}
.head-title{
  font-size: 12px;
  max-width: 100%;
  font-weight:bold;
  word-wrap: break-word;
  color: black;
  /* font-weight: bolder; */
}
.facility{
  background-color: #f7d4a1;


}
.headerColor{
  color: black;
}
.card-In-Use, .card-active, .card-Active{
  background-color:  #eeb541;
}
.card-Disabled{
  background-color: #ffcab5;
}
.card-Idle{
  background-color: #dadada;
}
.flex-header{
  word-wrap: break-word;
  padding-left: 10px;
}
.flex-icon{
  padding-left: 5px;
}
.vertical-part{
  border-right: 1px solid grey;
}
.card-header, .card-body, .card-footer{
  padding: 10px;
}
.card-body{
  max-height: 60px;
}
.card-footer{
  font-size: 12px;
    padding: 13px;
    background: #272727;
}
.footer-icon{
  color:#288ca5;
}
.circle-off , .circle-offline, .circle-no, .circle-No{
  width: 5px;
  height: 5px;
  border: 1px solid red;
  background-color: red;
  border-radius: 50%;
}
.circle-on, .circle-online, .circle-yes, .circle-Yes{
  width: 5px;
  height: 5px;
  border: 1px solid green;
  background-color: green;
  border-radius: 50%;
}
.close-panel{
  float: right;
  margin-right: 10px;
}
.provision-tab{
  /* float: right; */
  border: 1px solid #eeb541;
  padding: 7px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  font-size: 13px;
  text-shadow: none;
  cursor: pointer;
  font-weight: bold;
  margin-left: 15px;
  color: white;
  background: #101010;
  /* background: #99b3ff */
}
.filter-icon{
margin: 5px;
}
.fa-filter{
  color:black;
}
.text-search{
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 12px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 5px;
  transition: width 0.4s ease-in-out;
}
::placeholder{
  color: #272727;
}

.text-search[type=text]:focus {
  width: 150%;
}
.small-card { 
min-width: 29%;
max-width: 29%;
margin: 10px;
display: inline-block;
box-shadow: 1px 4px 7px 0px #807878;
transition: width 2s;
background: white;

}
.card-detail .tooltiptext{
  visibility: hidden;
  width: max-content;
  background-color: #f78383;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
.userNameSection .tooltiptext{
  visibility: hidden;
  width: max-content;
  background-color: #f78383;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
.head-title .tooltiptext{
  visibility: hidden;
  width: max-content;
  background-color: #f78383;
  /* color: #fff; */
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  color: black;

  /* Position the tooltip */
  position: absolute;
  top:15px;
  left:30px;
  z-index: 1;
}
.userNameSection:hover .tooltiptext{
  visibility: visible;
}
.card-detail:hover .tooltiptext{
  visibility: visible;
}
.head-title:hover .tooltiptext{
  visibility: visible;
}
.focus-field{
  border:1px solid orange;
}
select{
  margin-top:4px;
  padding: 4px;
}
.monitor{
  width:12em;
}
.badge{
  display: inline-block;
}

.detail-panel{
  background-color: #f1f1f1;
  position: absolute;
  top: 10%;
  left: 60%;
  right: 0;
  bottom: 0;
  -moz-transition: right 0.5s ease-in;
  transition: right 0.5s ease-in;  overflow: hidden;
  z-index: 2;
  height: 80vh;
  overflow-y: scroll;
  box-shadow: 1px 2px 9px 1px #807878;
  overflow-x: hidden;
  display: block;
}
.portfolio{
display: none;
}


/* ABHISHEK ADDED CODE HERE */

#warningModal{
  height: 25px;
  margin-right: 6px;
}

.modal-header {
  padding: 5px 10px;
  color:#CC0000
}
.categorySection{
  font-size:13px;
  /* background:orangered */
  font-weight:bolder;
  /* color:#808080 */
  color: black;
}

 #breadcrumbIcon{
  height:15px;
  margin-top: -5px;
  margin-right: 5px;
  margin-left: 5px;
}

.InUsefooterContent{
  /* background:orangered; */
  height:10px;
  widows: 100%;
  margin:0px;
  padding:0px;

  display: grid;
  grid-template-columns: 40% 40% 20%;
  font-size:12px;
  /* font-weight:bold; */
  margin-bottom: 3px;
  /* color:#6d6868; */
  color: white;
}
#userIcon{
  height:12px;
  margin-top:-3px
}
.userSection{
    display: grid;
    grid-template-columns: 18% 85%;
    margin-left: -7px;

}

.releaseButton,.associatebutton{
 
    padding: 2px 3px;
    text-align: center;
    border-radius: 55px;
    margin-top: -4px;
    font-size: 11px;
    font-weight: lighter;
}

.IdleFooterContent{
  display:grid;
  grid-template-columns: 75% 25%
}

.releaseButton{
  background:  #006699;
  color: white;
}
.associatebutton{
  background: #eeb541;
  color: black;
  font-weight: bold;
}

.releaseButton:hover, .associatebutton:hover{
  cursor: pointer;
}

.associationDateSection{
  display:grid;
  grid-template-rows:50% 50%;
  margin-top: -12px;
}

#calendarIcon{
  height:10px
}
.dateSection{
  display:grid;
  grid-template-columns: 30% 70%
}
.dateValueSection{
  font-size:11px;
  margin-top:2px
}

.iconSection[_ngcontent-c3] {
  font-size: 10px;
  margin-top: 3px;
  font-weight: bold;
  color: grey;
}

#AcccessIcons{
height:12px
}
/* ABHISHEK's CODE Ends */

/*ANKITA's code'*/

 .modal-lg {
    width: 1150px !important;
    margin:30px auto;
}
.form-control{
    width:10em;
    border-top:0px;
    border-left:0px;
    border-right:0px;
    background-color: transparent;
    
}

.main-container2{
   
    height: 80vh;
    overflow-y: scroll;
}

.monitor{
    width:12em;
}
monitor1{
    width:10em;
}
.spacing{
    margin-left:2em;
}
.spacing2{
    margin-left:4em;
}
.container form{
   margin:0;
   padding:0;
 
}
.tab1{
    display: inline-block;
    margin:2px;
    border: 1px;
    height: 3em;
    width: 6em;
}
.form-group>div> input{
 
  border-top: none;
  border-right: none;
  border-left: none;
}
.input-border{
  border-bottom: 1px solid #dbd7d7
}
/*.cdk-overlay-container {
    position: relative !important;
    z-index: 9999 ! important;
}*/
::ng-deep .cdk-overlay-container mat-datepicker-content{
  z-index: 2000;
}
/*.modal{
  z-index: 850 !important
}

.show{
  z-index:80 !important
}

.modal-content{
  z-index: 1200
}*/

.refresh{
  margin: 5px;
  /* color: whire; */
  color: white;
  border: 1px solid #eeb541;
  padding: 6px;
  font-size: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
  background: #101010;
  }


  /* nav-tabs css */
  .nav-tabs .nav-link.active {
    border: none !important;
}
.nav-link.active{
    background-color: #facb0c;
    border-bottom: 2px solid #000000;
    padding: 2px 9px;
}
.active{
    color: #000000 ! important;
}

.nav-link {
    margin-top: 8px;
    padding: 2px 6px;
    color: #f2f2f2;
    font-size: 14px;
    background: #101010;
}
.nav-tabs {
    border-bottom: 1px solid #101010;
    margin: 1%;
}